{% extends "base.html.twig" %}

{% block title %}Teste - Accueil{% endblock %} 



{% block body %}

<div class="container mt-4">
    <div class="jumbotron">
        <h1 class="display-4">Bienvenue sur Test symphony!</h1>
        <p class="lead">Test symfony est un site d'essaie. C'est la première fois que j'utilise ce framework.</p>
        <hr class="my-4">
        <p>Pour commencer, rendez-vous sur la page d'inscription pour utilisé l'application.</p>
        <a class="btn btn-light btn-lg" href="#" role="button">Inscription</a>
    </div>
</div>

{% endblock %}